*, *::before, *::after {
    box-sizing: content-box;
    font-family: Courier New;
    color:rgb(37, 139, 51)
  }
  
  body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
  }
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: rgb(31, 32, 31);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
  }
  
  .btn {
    background-color: hsl(118, 60%, 38%);
    border: 1px solid hsl(149, 62%, 19%);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    outline: none;
  }
  
  .btn:hover {
    border-color: rgb(43, 206, 78);
  }